@import url("customColours.css");

/*

    Alt form styles

*/

.alt-form-container div {
    width: 45%;
}

.full-width-alt-form {
    width: 100% !important;
}

/* Normal styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#map {
    width: 100%;
    height: 480px;
    position: relative;
    overflow: hidden;
}

.form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-main-container, .form-main-container-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-main-container-half {
    width: 90%;
}

/*

    Form title

*/

.form-title {
    display: flex;
    flex-direction: column;
}

.form-title div {
    display: flex;
    align-items: center;
}

.form-title hr {
    margin: 0;
}

.form-title div span {
    text-align: center;
    border-radius: 50%;
    color: black;
    font-weight: 900;
}

.form-title div h1 {
    font-weight: 400;
    margin-left: 20px;
    color: black;
}

.form-title hr {
    border: none;
    width: 100%;
    opacity: 1;
}

.form-title.form-title-green div span {
    background: var(--custom-green);
}

.form-title.form-title-green hr {
    background: var(--custom-green);
}

.form-title.form-title-red div span {
    background: var(--custom-red);
}

.form-title.form-title-red hr {
    background: var(--custom-red);
}

.form-title.form-title-blue div span {
    background: var(--custom-blue);
}

.form-title.form-title-blue hr {
    background: var(--custom-blue);
}

.form-title.form-title-orange div span {
    background: var(--custom-orange);
}

.form-title.form-title-orange hr {
    background: var(--custom-orange);
}

/*

    Form section

*/

.form-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.form-section textarea {
    resize: vertical;
}

.form-section input, .form-section textarea, .form-section select {
    color: black;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.form-input-label {
    display: flex;
    align-items: center;
}

.form-input-label input {
    color: var(--lighter-grey);
}

.form-input-label label {
    color: white;
    margin-left: 10px;
}

#contact-section div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#contact-section div hr {
    border: none;
    background: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 2px;
    margin: 12.5px 0;
}

.contact-remove-container {
    width: 100%;
}

.contact-remove-container button {
    border: none;
    color: white;
    background: var(--custom-red);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 575px) {
    .form-main-container {
        width: 94%;
    }
    
    /*
    
        Form title
    
    */
    
    .form-title {
        width: 100%;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    
    .form-title div {
        margin-bottom: 2px;
    }
    
    .form-title div span {
        --size: 35px;
        height: var(--size);
        width: var(--size);
        line-height: var(--size);
    }
    
    .form-title div h1 {
        margin-left: 20px;
    }
    
    .form-title hr {
        height: 5px;
    }
    
    /*
    
        Form section
    
    */
    
    .form-section {
        flex-direction: column;
    }

    .form-section input, .form-section .form-double-section, .form-section .form-input-label {
        width: 100%;
        margin: 5px 0;
    }

    .form-section .form-double-section :first-child {
        margin-right: 20px;
    }
    
    .form-section input {
        padding: 6px;
    }
    
    .form-section select {
        padding: 6px;
    }
    
    .form-section textarea {
        width: 100%;
        padding: 6px;
        margin: 5px 0;
    }
    
    .form-input-label input {
        width: auto;
    }
}

@media (min-width: 576px) {
    .form-main-container {
        width: 70%;
    }
    
    /*
    
        Form title
    
    */
    
    .form-title {
        width: 100%;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    
    .form-title div {
        margin-bottom: 2px;
    }
    
    .form-title div span {
        --size: 35px;
        height: var(--size);
        width: var(--size);
        line-height: var(--size);
    }
    
    .form-title div h1 {
        margin-left: 20px;
    }
    
    .form-title hr {
        height: 5px;
    }
    
    /*
    
        Form section
    
    */
    
    .form-section input, .form-section .form-double-section, .form-section .form-input-label {
        width: 45%;
        margin: 5px 0;
    }
    
    .form-section input {
        padding: 6px;
    }
    
    .form-section select {
        padding: 6px;
    }
    
    .form-section textarea {
        width: 100%;
        padding: 6px;
        margin: 5px 0;
    }

    .form-input-label input {
        width: auto;
    }
}

@media (min-width: 992px) {
    .form-main-container {
        width: 65%;
    }
}

@media (min-width: 1200px) {
    .form-main-container {
        width: 55%;
    }
}

@media (min-width: 1400px) {
    .form-main-container {
        width: 45%;
    }
}