{{#if success}}
<div class="alert alert-success" role="alert">
  Operación realizada con éxito
</div>
{{/if}}
{{#if error}}
<div class="alert alert-danger" role="alert">
  Error al realizar la operación.
</div>
{{/if}}